DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/ChkAdapterIntgSOAIVPSvc.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ChkAdapterIntgSOAIVPSvc"
                  targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkAdapterIntgSOAIVPSvc"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkAdapterIntgSOAIVP"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkAdapterIntgSOAIVPSvc"
				  xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1">
   <plnk:partnerLinkType name="fndintgvalidateadapterintgivp_client_ep">
      <plnk:role name="ChkAdapterIntgSOAIVPPortType">
         <plnk:portType name="tns:ChkAdapterIntgSOAIVPPortType"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkAdapterIntgSOAIVP"
                     schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ChkAdapterIntgSOAIVP.xsd"/>
      </xsd:schema>
	  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
        </xsd:schema>
   </wsdl:types>
   <wsdl:message name="InputMessage">
      <wsdl:part name="part" element="inp1:Input"/>
   </wsdl:message>
   <wsdl:message name="OutputMessage">
      <wsdl:part name="part" element="inp1:Output"/>
   </wsdl:message>
   <wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
   <wsdl:portType name="ChkAdapterIntgSOAIVPPortType">
      <wsdl:operation name="ChkAdapterIntgSOAIVP">
         <wsdl:input message="tns:InputMessage"/>
         <wsdl:output message="tns:OutputMessage"/>
		 <wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
