DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/ChkFaultSOAIVP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="ChkFaultSOAIVP"
     targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkFaultSOAIVPSvc"
     xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkFaultSOAIVP"
     xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkFaultSOAIVPSvc"
	 xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
    >
    <plnk:partnerLinkType name="FndIntgValidateFaultHandlingIVP">
        <plnk:role name="ChkFaultSOAIVPPortType">
            <plnk:portType name="tns:ChkFaultSOAIVPPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkFaultSOAIVP"
                 schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ChkFaultSOAIVP.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part" element="inp1:Input"/>
    </wsdl:message>
    <wsdl:message name="OuputMessage">
        <wsdl:part name="part" element="inp1:Output"/>
    </wsdl:message>
	<wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
    <wsdl:portType name="ChkFaultSOAIVPPortType">
        <wsdl:operation name="ChkFaultSOAIVP">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OuputMessage"/>
			<wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
