DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/ChkLookupSOAIVP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="ChkLookupSOAIVP"
     targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkLookupSOAIVPSvc"
     xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkLookupSOAIVP"
     xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkLookupSOAIVPSvc"
	 xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
    >
    <plnk:partnerLinkType name="FndIntgValidateLookupFunctionIVP">
        <plnk:role name="ChkLookupSOAIVPPortType">
            <plnk:portType name="tns:ChkLookupSOAIVPPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkLookupSOAIVP"
                 schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ChkLookupSOAIVP.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part" element="inp1:Input"/>
    </wsdl:message>
    <wsdl:message name="OuputMessage">
        <wsdl:part name="part" element="inp1:Output"/>
    </wsdl:message>
	<wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
    <wsdl:portType name="ChkLookupSOAIVPPortType">
        <wsdl:operation name="ChkLookupSOAIVP">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OuputMessage"/>
			<wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
