DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/ChkSecuritySOAIVP.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ChkSecuritySOAIVP"
     targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVPSvc"
     xmlns:ns2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
     xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVPSvc"
     xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVP"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	 xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
    >
    <plnk:partnerLinkType name="FndIntgValidateSecurityIVP">
        <plnk:role name="ChkSecuritySOAIVPPortType">
            <plnk:portType name="tns:ChkSecuritySOAIVPPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
             xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVP"
             xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVPSvc">
            <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVP"
                 schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ChkSecuritySOAIVP.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
             xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVP"
             xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkSecuritySOAIVPSvc">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
               
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part" element="inp1:Input"/>
    </wsdl:message>
    <wsdl:message name="OuputMessage">
        <wsdl:part name="part" element="inp1:Output"/>
    </wsdl:message>
	<wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
    <wsdl:portType name="ChkSecuritySOAIVPPortType">
        <wsdl:operation name="ChkSecuritySOAIVP">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OuputMessage"/>
			<wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
