DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/ChkServiceIntSOAIVP.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ChkServiceIntSOAIVP"
     targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkServiceIntSOAIVPSvc"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkServiceIntSOAIVP"
     xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkServiceIntSOAIVPSvc"
	 xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
    >
    <plnk:partnerLinkType name="FndIntgValidateServiceInteractionIVP">
        <plnk:role name="ChkServiceIntSOAIVPPortType">
            <plnk:portType name="tns:ChkServiceIntSOAIVPPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/soa/shared/bpel/RuntimeFault.wsdl"/>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkServiceIntSOAIVP"
                 schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ChkServiceIntSOAIVP.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part" element="inp1:Input"/>
    </wsdl:message>
    <wsdl:message name="OuputMessage">
        <wsdl:part name="part" element="inp1:Output"/>
    </wsdl:message>
	<wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
    <wsdl:portType name="ChkServiceIntSOAIVPPortType">
        <wsdl:operation name="ChkServiceIntSOAIVP">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OuputMessage"/>
			<wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
