DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/ChkXpathSOAIVP.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ChkXpathSOAIVP"
     targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkXpathSOAIVPSvc"
     xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkXpathSOAIVPSvc"
     xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkXpathSOAIVP"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	 xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
    >
     <plnk:partnerLinkType name="FndIntgValidateXpathFunctionIVP">
        <plnk:role name="ChkXpathSOAIVPPortType">
            <plnk:portType name="tns:ChkXpathSOAIVPPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ChkXpathSOAIVP"
                 schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ChkXpathSOAIVP.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part" element="inp1:Input"/>
    </wsdl:message>
    <wsdl:message name="OuputMessage">
        <wsdl:part name="part" element="inp1:Output"/>
    </wsdl:message>
	<wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
    <wsdl:portType name="ChkXpathSOAIVPPortType">
        <wsdl:operation name="ChkXpathSOAIVP">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OuputMessage"/>
			<wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
