DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/FndIntgODIService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="FndIntgODIService" targetNamespace="http://xmlns.schneider.com/FndIntgODIService/FndIntgODIService/V1" xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" xmlns:ns="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.schneider.com/FndIntgODIService/FndIntgODIService/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <plnk:partnerLinkType name="FndIntgODIService">
      <plnk:role name="FndIntgODIServiceProvider">
         <plnk:portType name="client:FndIntgODIService"/>
      </plnk:role>
      <plnk:role name="FndIntgODIServiceRequester">
         <plnk:portType name="client:FndIntgODIServiceCallback"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.schneider.com/FndIntgODIService/FndIntgODIService/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
         <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNIODICore.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="FndIntgODIServiceRequestMessage">
      <wsdl:part name="payload" element="ns1:invokeScenario"/>
   </wsdl:message>
   <wsdl:message name="FndIntgODIServiceResponseMessage">
      <wsdl:part name="payload" element="ns1:invokeScenarioCallback"/>
   </wsdl:message>
   <wsdl:portType name="FndIntgODIServiceCallback">
      <wsdl:operation name="processResponse">
         <wsdl:input message="client:FndIntgODIServiceResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="FndIntgODIService">
      <wsdl:operation name="process">
         <wsdl:input message="client:FndIntgODIServiceRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
