DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/FndIntgOSBToSOAExecuteIVP.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="FndIntgOSBToSOAExecuteIVP" targetNamespace="http://xmlns.schneider.com/SNIFndSOAIVPServices/FndIntgOSBToSOAExecuteIVP/FndIntgOSBToSOAExecuteIVP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.schneider.com/SNIFndSOAIVPServices/FndIntgOSBToSOAExecuteIVP/FndIntgOSBToSOAExecuteIVP" xmlns:ns1="http://xmlns.schneider.com/SNIFndSOAIVPServices/FndIntgOSBToSOAExecuteIVP/FndIntgOSBToSOAExecuteIVP" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
   <wsdl:types>      
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://xmlns.schneider.com/SNIFndSOAIVPServices/FndIntgOSBToSOAExecuteIVP/FndIntgOSBToSOAExecuteIVP" schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/FndIntgOSBToSOAExecuteIVP.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="FndIntgOSBToSOAExecuteIVPRequestMessage">
      <wsdl:part name="payload" element="client:process"/>
   </wsdl:message>
   <wsdl:message name="FndIntgOSBToSOAExecuteIVPResponseMessage">
      <wsdl:part name="payload" element="client:processResponse"/>
   </wsdl:message>
   <wsdl:portType name="FndIntgOSBToSOAExecuteIVP">
      <wsdl:operation name="callHTTP">
         <wsdl:input message="client:FndIntgOSBToSOAExecuteIVPRequestMessage"/>
         <wsdl:output message="client:FndIntgOSBToSOAExecuteIVPResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="callSOADirect">
         <wsdl:input message="client:FndIntgOSBToSOAExecuteIVPRequestMessage"/>
         <wsdl:output message="client:FndIntgOSBToSOAExecuteIVPResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="callSOAFromREST">
         <wsdl:input message="client:FndIntgOSBToSOAExecuteIVPRequestMessage"/>
         <wsdl:output message="client:FndIntgOSBToSOAExecuteIVPResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="FndIntgOSBToSOAExecuteIVP">
      <plnk:role name="FndIntgOSBToSOAExecuteIVPProvider">
         <plnk:portType name="client:FndIntgOSBToSOAExecuteIVP"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
