DeployMDSObjects/apps/SNIComponents/FoundationServiceLibrary/IVP/FndIntgValidateALLSOAIVPsvc.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="FndIntgValidateALLSOAIVPsvc"
     targetNamespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ValidateALLSOAIVP/SVC"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:inp1="http://xmlns.schneider.com/SNIFndIntgIVPServices/ValidateALLSOAIVP"
     xmlns:tns="http://xmlns.schneider.com/SNIFndIntgIVPServices/ValidateALLSOAIVP/SVC"
	 xmlns:snicore="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1"
    >
     <plnk:partnerLinkType name="FndIntgValidateALLSOAIVPsvc">
        <plnk:role name="ValidateALLSOAIVP_ptt">
            <plnk:portType name="tns:ValidateALLSOAIVP_ptt"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/SNIFndIntgIVPServices/ValidateALLSOAIVP"
                 schemaLocation="oramds:/apps/SNIComponents/FoundationObjectLibrary/IVP/schemas/ValidateALLSOAIVP.xsd"/>
        </xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.schneider.com/EnterpriseObjects/Core/Common/V1" schemaLocation="oramds:/apps/SNIComponents/EnterpriseObjectLibrary/Core/Common/V1/SNICore.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part" element="inp1:Input"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part" element="inp1:Output"/>
    </wsdl:message>
	<wsdl:message name="SNIFaultMessage">
<wsdl:part name="payload" element="snicore:SNIFault"/>
</wsdl:message>
    <wsdl:portType name="ValidateALLSOAIVP_ptt">
        <wsdl:operation name="ValidateALLSOAIVP">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
			<wsdl:fault name="SNIFault" message="tns:SNIFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
